<?php
$title = 'Új termék hozzáadása';
$this->headTitle($title);
?>
    <h1><?= $this->escapeHtml($title) ?></h1>
<?php
// This provides a default CSS class and placeholder text for the title element:
$product = $form->get('product_name');
$product->setAttribute('class', 'form-control');
$product->setAttribute('placeholder', 'Termék');

// This provides a default CSS class and placeholder text for the price element:
$price = $form->get('price');
$price->setAttribute('class', 'form-control');
$price->setAttribute('placeholder', 'Ár');

// This provides CSS classes for the submit button:
$submit = $form->get('submit');
$submit->setAttribute('class', 'btn btn-primary');

$form->setAttribute('action', $this->url('product', ['action' => 'add']));
$form->prepare();

echo $this->form()->openTag($form);
?>
<?php // Wrap the elements in divs marked as form groups, and render the
// label, element, and errors separately within ?>
    <div class="form-group">
        <?= $this->formLabel($product) ?>
        <?= $this->formElement($product) ?>
        <?= $this->formElementErrors()->render($product, ['class' => 'help-block']) ?>
    </div>

    <div class="form-group">
        <?= $this->formLabel($price) ?>
        <?= $this->formElement($price) ?>
        <?= $this->formElementErrors()->render($price, ['class' => 'help-block']) ?>
    </div>

<?php
echo $this->formSubmit($submit);
echo $this->formHidden($form->get('id'));
echo $this->form()->closeTag();