<?php
// module/Product/view/product/product/delete.phtml:

$title = 'Termék törlése';
$url   = $this->url('product', ['action' => 'delete', 'id' => $id]);

$this->headTitle($title);
?>
<h1><?= $this->escapeHtml($title) ?></h1>

<p>
    Biztosan törölni szeretné?
    "<?= $this->escapeHtml($product->product_name) ?>" by
    "<?= $this->escapeHtml($product->price) ?>"?
</p>

<form action="<?= $url ?>" method="post">
    <div class="form-group">
        <input type="hidden" name="id" value="<?= (int) $product->id ?>" />
        <input type="submit" class="btn btn-danger" name="del" value="Yes" />
        <input type="submit" class="btn btn-success" name="del" value="No" />
    </div>
</form>