<?php
// module/Product/view/product/product/index.phtml:

$title = 'Termékek';
$this->headTitle($title);
?>
<h1><?= $this->escapeHtml($title) ?></h1>
<p>
    <a href="<?= $this->url('product', ['action' => 'add']) ?>">Új termék hozzáadása</a>
</p>

<table class="table">
    <tr>
        <th>Termék</th>
        <th>Ár</th>
        <th>&nbsp;</th>
    </tr>
    <?php foreach ($products as $product) : ?>
        <tr>
            <td><?= $this->escapeHtml($product->product_name) ?></td>
            <td><?= $this->escapeHtml($product->price) ?></td>
            <td>
                <a href="<?= $this->url('product', ['action' => 'edit', 'id' => $product->id]) ?>">Módosításs</a>
                <a href="<?= $this->url('product', ['action' => 'delete', 'id' => $product->id]) ?>">Törlés</a>
            </td>
        </tr>
    <?php endforeach; ?>
</table>